#define ZMK_POINTING_DEFAULT_SCRL_VAL 120

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    quick-tap-ms = <0>;
    tapping-term-ms = <160>;
    flavor = "balanced";
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <160>;
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        to_bluetooth {
            bindings = <&mo 6>;
            key-positions = <0 29>;
            layers = <0 7 8>;
        };

        kl_scroll {
            bindings = <&mo 5>;
            key-positions = <20 21>;
            layers = <0 7 8>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        scroll_android {
            if-layers = <5 7>;
            then-layer = <10>;
        };

        scroll_windows {
            if-layers = <5 8>;
            then-layer = <11>;
        };

        func_android {
            if-layers = <3 7>;
            then-layer = <12>;
        };

        mouse_android {
            if-layers = <4 7>;
            then-layer = <13>;
        };
    };

    macros {
        esc_lang2: esc_lang2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp ESCAPE &kp LANG2>;
        };
    };

    behaviors {
        // Karabiner-Elements-like hold-tap for modifier + IME toggle on thumb keys.
        // - hold-preferred: resolves hold on other key press (not release), like Karabiner's lazy:true
        // - retro-tap: sends tap (LANG2) on release if no other key was pressed, like Karabiner's to_if_alone
        // - tapping-term-ms 100: matches Karabiner's to_if_held_down_threshold_milliseconds

        kht: karabiner_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <100>;
            quick-tap-ms = <0>;
            retro-tap;
            bindings = <&kp>, <&kp>;
        };

        esc_lang2_with_layer: esc_lang2_with_layer {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&esc_lang2>;

            #binding-cells = <2>;
            tapping-term-ms = <160>;
            flavor = "balanced";
        };

        enc_scroll: encoder_scroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R                &kp T                                                         &kp Y        &kp U  &kp I        &kp O    &kp P            &kp MINUS
&kp LCTRL       &kp A  &kp S  &kp D         &kp F                &kp G                                                         &kp H        &kp J  &kp K        &kp L    &lt 4 SEMICOLON  &kp SINGLE_QUOTE
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C         &kp V                &kp B                 &bootloader                &bootloader  &kp N        &kp M  &lt 5 COMMA  &kp DOT  &kp SLASH        &mkp MB1
                       &mo 5  &kp LEFT_ALT  &kht LEFT_GUI LANG2  &mt LEFT_SHIFT SPACE  &esc_lang2_with_layer 3 0  &lt 2 ENTER  &lt 1 LANG1                      &mo 6
            >;

            sensor-bindings = <&enc_scroll SCRL_UP SCRL_DOWN   &enc_scroll SCRL_DOWN SCRL_UP>;
        };

        Symbol {
            bindings = <
&trans  &kp TILDE        &kp GRAVE      &kp DOLLAR        &kp PERCENT  &kp CARET                      &trans     &kp AMPERSAND   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans     &trans
&trans  &kp EXCLAMATION  &kp AT_SIGN    &kp HASH          &kp EQUAL    &kp PLUS                       &kp ASTRK  &kp UNDERSCORE  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp COLON  &kp DOUBLE_QUOTES
&trans  &kp QUESTION     &kp LESS_THAN  &kp GREATER_THAN  &kp PIPE     &kp BACKSLASH  &trans  &trans  &trans     &trans          &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans     &trans
                         &trans         &trans            &trans       &trans         &trans  &trans  &trans                                           &trans
            >;

            sensor-bindings =
                <&enc_scroll SCRL_UP SCRL_DOWN>,
                <&enc_scroll SCRL_DOWN SCRL_UP>;
        };

        Num {
            bindings = <
&trans  &kp SLASH     &kp N7        &kp N8        &kp N9        &kp MINUS                        &trans         &trans  &trans  &trans  &trans     &trans
&trans  &kp ASTERISK  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PLUS                         &kp BACKSPACE  &trans  &trans  &trans  &kp COLON  &trans
&trans  &kp N0        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERCENT  &trans      &trans  &trans         &trans  &trans  &trans  &trans     &trans
                      &trans        &trans        &trans        &trans       &kp PERIOD  &trans  &trans                         &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_DN C_VOL_UP>,
                <&inc_dec_kp C_BRI_INC C_BRI_DEC>;
        };

        Function {
            bindings = <
&kp LG(LS(N7))  &kp LG(LS(NUMBER_4))      &kp F7  &kp F8  &kp F9  &kp LG(SPACE)                      &kp C_MUTE  &kp C_PP  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans  &trans
&trans          &kp LG(LC(LS(NUMBER_4)))  &kp F4  &kp F5  &kp F6  &kp LG(LC(SPACE))                  &kp LEFT    &kp DOWN  &kp UP_ARROW       &kp RIGHT        &trans  &trans
&trans          &kp F10                   &kp F1  &kp F2  &kp F3  &trans             &trans  &trans  &trans      &trans    &trans             &trans           &trans  &trans
                                          &trans  &trans  &trans  &trans             &trans  &trans  &trans                                   &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_DN C_VOL_UP>,
                <&inc_dec_kp C_BRI_INC C_BRI_DEC>;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                    &kp F11                    &kp RG(R)  &kp RG(DOWN)  &kp RG(UP_ARROW)  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                    &kp RC(UP_ARROW)           &mkp MB1   &mkp MB3      &mkp MB2          &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                    &kp RC(DOWN)               &mkp MB4   &mkp MB5      &kp RG(W)         &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &kp RG(RS(LEFT_BRACKET))  &kp RG(RS(RIGHT_BRACKET))                           &trans
            >;

            sensor-bindings =
                <&enc_scroll SCRL_UP SCRL_DOWN>,
                <&enc_scroll SCRL_DOWN SCRL_UP>;
        };

        Scroll {
            bindings = <
&trans  &trans  &trans                    &kp LG(LC(LA(K)))         &kp LG(LC(LA(M)))         &kp LG(LC(LA(C)))                              &trans           &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LG(LC(LA(LEFT)))      &kp LC(LA(UP_ARROW))      &kp LG(LC(LA(DOWN)))      &kp LG(LC(LA(RIGHT)))                          &trans           &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LG(LC(LA(NUMBER_1)))  &kp LG(LC(LA(NUMBER_2)))  &kp LG(LC(LA(NUMBER_3)))  &kp LG(LC(LA(NUMBER_4)))  &trans  &trans       &trans           &trans  &trans  &trans  &trans  &trans
                &trans                    &trans                    &trans                    &trans                    &trans  &kp LC(TAB)  &kp LC(LS(TAB))                  &trans
            >;

            sensor-bindings =
                <&enc_scroll SCRL_UP SCRL_DOWN>,
                <&enc_scroll SCRL_DOWN SCRL_UP>;
        };

        Device {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans        &bt BT_CLR    &bt BT_CLR_ALL
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_SEL 3  &bt BT_SEL 4  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans
            >;

            sensor-bindings =
                <&enc_scroll SCRL_UP SCRL_DOWN>,
                <&enc_scroll SCRL_DOWN SCRL_UP>;
        };

        Android {
            bindings = <
&trans  &trans  &trans  &trans  &trans           &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&mo 9   &trans  &trans  &trans  &trans           &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &kht LGUI LANG2  &trans  &trans  &trans  &trans                  &trans
            >;

            sensor-bindings =
                <&enc_scroll SCRL_DOWN SCRL_UP>,
                <&enc_scroll SCRL_UP SCRL_DOWN>;
        };

        Windows {
            bindings = <
&trans  &trans  &trans  &trans  &trans            &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&mo 9   &trans  &trans  &trans  &trans            &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &kht LCTRL LANG2  &trans  &trans  &trans  &trans                  &trans
            >;

            sensor-bindings =
                <&enc_scroll SCRL_DOWN SCRL_UP>,
                <&enc_scroll SCRL_UP SCRL_DOWN>;
        };

        EmacsNav {
            bindings = <
&kp LC(TAB)  &kp LC(Q)  &kp LC(W)  &kp END    &kp LC(R)  &kp LC(T)                  &kp LC(Y)  &kp LC(U)  &kp LC(I)  &kp LC(O)  &kp UP  &kp LC(MINUS)
&trans       &kp HOME   &kp LC(S)  &kp DEL    &kp RIGHT  &kp LC(G)                  &kp BSPC   &kp LC(J)  &kp LC(K)  &kp LC(L)  &trans  &trans
&trans       &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LEFT   &trans  &trans  &kp DOWN   &kp LC(M)  &trans     &trans     &trans  &trans
                        &trans     &trans     &trans     &trans     &trans  &trans  &trans                           &trans
            >;

            sensor-bindings =
                <&enc_scroll SCRL_DOWN SCRL_UP>,
                <&enc_scroll SCRL_UP SCRL_DOWN>;
        };

        ScrollAndroid {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans
            >;
        };

        ScrollWindows {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans
            >;
        };

        FuncAndroid {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &kp LGUI                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans    &trans  &trans  &trans                  &trans
            >;
        };

        MouseAndroid {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &kp LG(LEFT)  &trans                  &trans
            >;
        };
    };
};
